---
interface Props{
    basics: {
        name: {
            first: string;
            last: string;
        }
        label: string;
        email:string;
        phone: string;
        website: string;
        summary: string;
        location: {
            city: string;
            country: string;
            countryCode: string;
        },
        profiles: {
            platform: string;
            username: string;
            url?: string;
        }[];
    };
}
const {basics} = Astro.props;
---

<div class="basics">
    <p class="label">{basics.label}</p>

    {/* Location */}
    <address>
        <span>
            <a 
                href={`https://www.google.com/maps/place/<span class="math-inline">\{basics\.location\.city\}\+</span>{basics.location.country}`} 
                target="_blank" 
                title="Voir sur Google Maps">
                <i class="bx bxs-map"></i>
              </a>
        </span>
        <span>
            {basics.location.city}, 
            {basics.location.country} 
            ({basics.location.countryCode})
          </span>
    </address>

    {/* Contact */}
    <div class="contact">
        <div class="contact-btns">
            <a
                href={`mailto:${basics.email}`}
                target="_blank"
                title={`Envoyer un mail à: ${basics.email}`}
            >
                <i class="bx bxs-envelope"></i>
            </a>
            <a
                href={`tel:${basics.phone}`}
                title={`Appeler à: ${basics.name.first} ${basics.name.last}`}
            >
                <i class="bx bxs-phone"></i>
            </a>
            {basics.profiles.map((profile) => (
                <a 
                    href={profile.url || `https://<span class="math-inline">\{profile\.platform\}\.com/</span>{profile.username}`}
                    target="_blank"
                    title={`Aller sur le profil de: ${basics.name.first} ${basics.name.last} en ${profile.platform}`}
                    >
                    {profile.platform === "github" 
                        ? (<i class="bx bxl-github"></i>)
                        : profile.platform === "linkedin"
                            ? (<i class="bx bxl-linkedin-square"></i>)
                            : (<i class="bx bx-world"></i>)
                    }
                </a>
            ))}
        </div>
    </div>
</div>

<style>
    .basics{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 0.2rem;
    }
    p{
        text-align: center;
        text-wrap: balance;
    }
    address{
        font-style: normal;
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }
    span a{
        margin-left: -0.15rem;
        font-size: 1rem;
        display: flex;
        transition: .3s ease transform;
    }
    span a:hover{
        transform: translateY(-4px);
        color: #777;
    }
    .contact-btns{
        margin-top: 0.3rem;
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }
    .contact-btns a{
        border: 1px solid #ddd;
        padding: 0.3rem 0.4rem;
        border-radius: 0.3rem;
        font-size: 1.2rem;
        color: #666;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s ease transform;
    }
    .contact-btns a:hover{
        background: #f1f1f1f1;
        transform: translateY(-4px);
        color: #777;
    }
    @media screen and (min-width: 768px){
        .basics{
            justify-content: start;
            align-items: start;
        }
        p{
            text-align: inherit;
        }
    }
</style>