---
const {skill} = Astro.props;
---

<div class="skills-grid-item"> {/* Ajout d'un conteneur pour chaque élément */}
    {skill.url
      ? <a href="#" title={skill.name}><i class={`bx bxl-${skill.name}`}></i></a>
      : skill.src
        ? <a href="#" title={skill.name}><img src={skill.src} alt={skill.name} loading="lazy"/></a>
        : <a href="#" title={skill.name}><i class={`bx bxl-${skill.name}`}></i></a>
    }
  </div>

<style>
    .skills-grid-item {
        display: flex; 
        justify-content: center;
        align-items: center;
        height: 80px; 
        width: 80px;   
        background-color: white;
        border-radius: 50%; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        transition: transform 0.2s ease-in-out; 
        padding: 1rem;
    }
    .skills-grid-item:hover {
    transform: scale(1.1); 
}
.skills-grid-item a {
    font-size: 2.5rem; 
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.skills-grid-item img{
  max-width: 90%;
  max-height: 90%;
}
@media (max-width: 500px) {
    .skills-grid {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    }
    .skills-grid-item{
      height: 70px;
      width: 70px;
    }
    .skills-grid-item a {
        font-size: 2rem;
    }
}
</style>